.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Helvetica Neu Bold";
  src: url('./fonts/Helvetica Neu Bold.ttf');
}

* {
  font-family: "Helvetica Neu Bold"; 
  background-color: black;
  color: white;
  box-sizing: border-box;
}

button {
  border: none;
  font-size: 1.5vh;
  margin: none;
}

p, .icon {
  background-color: transparent
}

h1 {
  font-size: 3vmin
}

h2 {
  font-size: 2.5vmin
}

h3 {
  font-size: 2vmin
}

h4 {
  font-size: 1.5vmin
}

h5 {
  font-size: 1vmin
}

h6 {
  font-size: 0.5vmin
}

#hotkeys {
  height: 100%;
  width: 100%;
}

.title {
  width: 20%;
  margin: 20px 20px 0 20px;
}

.round-corners {
  border-radius: 5px;
}

.alerts {
  height: auto;
  width: 20%;
  text-align: justify;
  padding: 10px 20px 20px 20px;
  position: absolute;
  background-color: transparent;
  top: 5%;
  right: 5%;
  z-index: 1
}

.alert {
  background-color: black !important;
  border: red 2px solid;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}

.invert {
  background-color: white !important;
  color: black;
}

.top {
  text-align: center;
  width: 100%
}

.dimension {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  max-width: 1024px;
  height: auto;
  font-size: 1.5vh;
  margin: 0 auto 20px auto;
  margin-bottom: 20px;
}

.name {
  margin-left: 5px;
}

.bonus {
  font-size: 0.75vh;
  position: absolute;
  left: 10%;
  transform: translateY(80%);
}

.amount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.max {
  position: absolute;
  left: 80%;
  transform: translateX(-80%);
}

.autobuy {
  position: absolute;
  left: 70%;
  transform: translateX(-80%);
}

.price {
  margin-right: 5px;
}

.progress-bar {
  width: 100vw;
  max-width: 1536px;
  margin: 50px auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
  position: relative;
  width: auto;
  height: auto;
  font-size: 1.5vh !important;
  margin: 2vh auto 1vh auto;
  padding-left: min(30%);
  padding-right: min(30%);
}

.sub-header {
  position: flex;
  margin: 20px auto;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

.subtabs {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
  position: relative;
  width: auto;
  height: auto;
  font-size: 0.75vh !important;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: min(40%);
  padding-right: min(40%);
}

.popup {
  height: 30%;
  width: 30%;
  padding: 10px 20px 20px 20px;
  overflow: scroll;
  text-align: left;
  border: 2px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1
}

.close {
  position: sticky;
  top: 10px;
  width: 100%;
  text-align: right;
  background: none;
}

.icon {
  height: 20px;
  width: 20px;
}

.grey {
  background-color: #808080;
}

.label {
  display: flex;
  justify-content: center;
}

.sacrifice {
  max-width: 35vw;
  margin: 50px auto;
  padding: 20px;
  min-height: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.big-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 25%;
  column-gap: 10px;
  row-gap: 10px;
}

.big {
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.challengebutton {
  border: 2px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.chapter {
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.accordion {
  height: auto;
  font-size: 1.5vh;
}

.panel {
  display: none;
  overflow: hidden;
}

.colorinput {
  padding: 20px;
  margin-bottom: 20px;
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.setting-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 25%;
  column-gap: 10px;
  row-gap: 10px;
}

.setting {
  text-align: center;
  border-radius: 10px;
}

.marquee {
  animation: marquee 5s linear infinite;
}

.center {
  margin: auto;
  width: 100%;
}

.grandgrav, .locked {
  margin: auto;
  text-align: center;
  font-size: 1.5vh;
  height: max;
  width: 25%;
  border: solid white 2px;
  border-radius: 10px;
}

.grandgrav-button {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.objekt {
  width: 100%;
  vertical-align: middle;
  margin: auto;
}

.objekt-grid {
  margin: 0 25%;
  width: 50%
}

@keyframes marquee{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
