.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Helvetica Neu Bold";
  src: url('./fonts/Helvetica Neu Bold.ttf');
}

* {
  font-family: "Helvetica Neu Bold"; 
  background-color: black;
  color: white;
  box-sizing: border-box;
}

button {
  border: none;
  font-size: 20px;
  margin: none;
}

HotKeys {
  height: 100%;
  width: 100%;
}

Alert {
  height: auto;
  width: 10%;
  text-align: justify;
  padding: 10px 20px 20px 20px;
  position: fixed;
  border-radius: 5px;
  background-color: red;
  top: 5%;
  right: 5%;
  z-index: 1
}

.top {
  text-align: center;
  width: 100%
}

.dimension {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  position: relative;
  width: 50%;
  height: auto;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.name {
  margin-left: 5px;
}

.bonus {
  font-size: 10px;
  position: absolute;
  left: 10%;
  transform: translateY(80%);
}

.amount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.max {
  position: absolute;
  left: 80%;
  transform: translateX(-80%);
}

.autobuy {
  position: absolute;
  left: 70%;
  transform: translateX(-80%);
}

.price {
  margin-right: 5px;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px !important;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: min(30%);
  padding-right: min(30%);
}

.subtabs {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
  position: relative;
  width: auto;
  height: auto;
  font-size: 15px !important;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: min(40%);
  padding-right: min(40%);
}

.popup {
  height: 30%;
  width: 30%;
  padding: 10px 20px 20px 20px;
  overflow: scroll;
  text-align: left;
  border: 2px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1
}

.close {
  position: sticky;
  top: 10px;
  width: 100%;
  text-align: right;
  background: none;
}

.icon {
  height: 20px;
  width: 20px;
}

.challenge-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 25%;
  column-gap: 10px;
  row-gap: 10px;
}

.challenge {
  text-align: center;
  border-radius: 10px;
}

.challengebutton {
  border: 2px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.chapter {
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.accordion {
  height: auto;
  font-size: 20px;
}

.panel {
  display: none;
  overflow: hidden;
}

.colorinput {
  padding: 20px;
  margin-bottom: 20px;
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.setting-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 25%;
  column-gap: 10px;
  row-gap: 10px;
}

.setting {
  text-align: center;
  border-radius: 10px;
}

.marquee {
  animation: marquee 5s linear infinite;
}

.center {
  margin: 0 auto;
}

.grandgrav, .locked {
  text-align: center;
  font-size: 30px;
  height: max;
  width: max;
}

.objekt {
  width: 100%;
  vertical-align: middle;
}

.objekt-grid {
  margin: 0 25%;
  width: 50%
}

@keyframes marquee{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
